/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-container {
//   max-width: 600px;
  width: 500px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.task-list-container {
    //   max-width: 600px;
    width: 550px;
    margin-left: 20px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.big-container{
  margin-top: 20px;
  margin-bottom: 20px;
  width: 90vw;
  min-height: 90vh;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: #3f51b5;
  font-size: 24px;
}
